$primaryColor: #334455;
$secondaryColor: #ffff77;

body {
    background: $primaryColor;
    color: $secondaryColor;
    font-family: monospace;
    font-size: 10vw;
    filter: blur(1px);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    margin: 0;
}